/* Navigation Bar Item styles */

.nav-bar-item {
    margin-right: 1rem;
    font-size: 1.75rem;
    color: black;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 0;
    margin-left: 0;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

/* Style of the nav bar item of the visible section */

.selected-nav-bar-item {
    background-color: black;
    color: white;
}

.nav-bar-item a {
    text-decoration: none;
}